* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'montserrat', sans-serif;
    background-image: url(bg.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background-color: #ffff8f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 1000px;
    text-align: center;
}


h1 {
    color: black;
    
    margin-bottom: 20px;
}


.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #3498db;
    outline: none;
    font-size: 16px;
    margin-right: 10px;
}


button#addTaskBtn {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


ul {
    list-style-type: none;
    padding: 0;
}


li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #ecf0f1;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #333; 
}


li button.deleteTaskBtn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}


li button.editTaskBtn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}


input[type="date"] {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-right: 10px;
}


.deadline-label {
    font-size: 14px;
    color: #3498db;
    cursor: pointer;
}
